* {
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
}
@mixin truncate($truncation-boundary) {
    max-width: $truncation-boundary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@mixin truncate($lines,
$lh: 1.2,
$spacer:0) {
    line-height: $lh;
    max-height: $lh * $lines + $spacer + em;
    // overflow: hidden;
    text-overflow: ellipsis;
    text-overflow: -o-ellipsis-lastline;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.b-bottom {
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
}
.main {
	display: flex;
	.right {
		flex: 1;
		text-align: center;
		.slick-slider {
            display: grid;
			margin-right: auto;
			border-top: 1px solid #eee;
			border-bottom: 1px solid #eee;
			padding: 10px 0;
			.slick-prev {
				left: 0;
				z-index: 1;
			}
			.slick-next {
				right: 0;
				z-index: 1;
			}
			// .slick-slide{
    		// 	margin-right: 20px;
			// }
		}
	}
}
.modal {
	.modal-content {
		width: 550px;
		left: -10px;
		top: -15px;
		.modal-header {
			border: unset;
			padding-bottom: 0;
			display: inline-block;
			text-align: right;
			span {
				font-size: 30px;
				font-weight: 300;
				cursor: pointer;
				transition: ease all;
				padding: 0 5px;
				&:active {
					background: #cecece;
					border-radius: 50%;
				}
			}
		}
		.modal-body {
			padding-left: 32px;
			padding-bottom: 32px;
			h2 {
				font-size: 20px;
				margin-bottom: 20px;
			}
			p {
				font-size: 14px;
				min-height: 150px;
			}
			.microphone {
				text-align: center;
				svg {
					width: 60px;
					display: inline-block;
					background: #cecece;
					border-radius: 50%;
					padding: 10px;
					cursor: pointer;
					transition: 0.2s ease-in all;
					&:active {
						background-color: #948f8f;
					}
				}
			}
		}
	}
}
.react-tabs {
	&__tab-list {
		border-bottom: unset !important;
	}
}
.slick-track {
	.slick-slide {
		> div {
			color: #000;
			background: #f1f1f1;
			padding: 5px 20px;
			border-radius: 22px;
			display: inline-block;
            text-transform: capitalize;
            margin: 0 10px;
            cursor: pointer;
            &:hover{
                background-color:#cac6c6 ;
            }
            &.active{
                color: #fff;
            }
		}
		&.active{
			div{
				background: #000;
				color: #fff;
			}
		}
	}
}
.grid{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(4,1fr);
	margin: 20px 16px 0 16px;
	margin-top: 20px;
	margin-right: 16px;
	.video{
		position: relative;
		overflow: hidden;
		.image{
			overflow: hidden;
			img{
				width: 100%;
				height: 100%;
				transition: .3s ease-in-out;
				&:hover{
					transform: scale(1.2);
					cursor: pointer;
				}
			}
		}
		.lower-content{
			display: flex;
			margin-top: 10px;
			.logo{
				height: 40px;
				width: 40px;
				min-width: 40px;
				overflow: hidden;
				border-radius: 50%;
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: top;
				}
			}
			.title{
				text-align: left;
				margin-left: 16px;
				h4{
					font-size: 18px;
					font-weight: 500;
					@include truncate(2);
					margin: 0;
				}
				span{
					display: block;
					margin-top: 8px;
					font-size: 14px;
					color: gray;
				}
			}
		}
	}
}

.skeltonClass{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-left: 4px;
	.video{
		margin-right: 20px;
		margin-bottom: 16px;
		.lower-content{
			margin-top: 16px;
			display: flex;
			align-items: flex-start;
			.logo{
				flex: 0 0 40px;
				max-width: 40px;
				margin-right: 16px;
			}
			.title{
				flex: 1;
			}
		}
	}

}
